set default="0"
set timeout="30"

loadfont /grub/fonts/unicode.pf2

set gfxmode="auto"
set gfxpayload="keep"
insmod all_video
insmod gfxterm
insmod gfxmenu
insmod jpeg
insmod png

terminal_input console
terminal_output gfxterm

theme=/grub/themes/archlinux/theme.txt

menuentry "Boot to[no]ME! Linux" {
  linux /../../boot/vmlinuz-linux archisobasedir=tonome archiso_loop_mnt=/run/archiso/bootmnt earlymodules=loop
  initrd /../../boot/initramfs-linux.img
}

menuentry "Boot to[no]ME! Linux (Fallback)" {
  linux /../../boot/vmlinuz-linux archisobasedir=tonome archiso_loop_mnt=/run/archiso/bootmnt earlymodules=loop
  initrd /../../boot/initramfs-linux-fallback.img
}

menuentry "Memory Test (memtest86+)" {
  linux /../../boot/memtest86+/memtest.bin
}

menuentry "Shutdown" {
  halt
}

menuentry "Reboot" {
  reboot
}
