[Desktop Entry]
Type=Application
Name=Install to[no]ME! OS
Comment=Install to[no]ME! OS on your computer
Exec=/usr/bin/tonome-installer
Icon=drive-harddisk
Terminal=false
Categories=System;Utility;
StartupNotify=true
